.card-component {
  border-radius: 2rem;
  overflow: hidden;
  border: 1px solid #f1f1f1;
  margin: 1rem;
  transition-duration: .2s;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.card-component:hover {
  border: 0.3rem solid var(--color-law-card);
}
.card-component > .card__item {
  background-color: var(--color-white);
  width: 25rem;
  height: 36rem;
}

.card-component > .card__item > .card__item-top,
.card-component > .card__item > .card__item-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.card-component > .card__item > .card__item-top {
  background-color: var(--color-law-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  color: var(--color-white);
}

.card-component > .card__item > .card__item-bottom > div,
.card-component > .card__item > .card__item-top > div {
  width: 85%;
}

.card-component > .card__item > .card__item-top > .card__item-top-head {
  position: relative;
  top: 1rem;
  left: -1rem;
  padding: 0.2rem;
}
.card-component
  > .card__item
  > .card__item-top
  > .card__item-top-head
  > .card__item-level {
  display: flex;
  align-items: center;
  gap: .25rem;
}
.card-component
  > .card__item
  > .card__item-top
  > .card__item-top-head
  > .card__item-level
  > .card__item-level-val {
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 5px;
  backdrop-filter: saturate(50%);
}

.card-component > .card__item > .card__item-top > .card__item-top-content_area {
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-component
  > .card__item
  > .card__item-top
  > .card__item-top-content_area
  > .card__item-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* -- Word --*/
.card-component
  > .card__item
  > .card__item-top
  > .card__item-top-content_area
  > .card__item-top-content
  > .card__item-content-word {
  display: flex;
  flex-direction: column;
}

.card-component
  > .card__item
  > .card__item-top
  > .card__item-top-content_area
  > .card__item-top-content
  > .card__item-content-word
  > .card__item-content-word-val a {
  font-size: 1.9rem;
  color: var(--color-white) !important;
}

.card-component
  > .card__item
  > .card__item-top
  > .card__item-top-content_area
  > .card__item-top-content
  > .card__item-content-word
  > .card__item-content-syntactic-val {
  font-size: 0.8rem;
  text-align: center;
}

/* -- Description --*/
.card-component
  > .card__item
  > .card__item-top
  > .card__item-top-content_area
  > .card__item-top-content
  > .card__item-content-description {
  display: flex;
  flex-direction: column;
}

.card-component
  > .card__item
  > .card__item-top
  > .card__item-top-content_area
  > .card__item-top-content
  > .card__item-content-description
  > .card__item-content-description-val {
  font-size: 0.9rem;
}

.card-component > .card__item > .card__item-bottom {
  color: black;
  justify-content: center;
  text-align: center;
}
