div.icon__element-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        color: var(--color-text-third);
        &:hover {
            color: var(--color-text-primary);
        }
    }
}