.mbx__container {
  box-shadow: var(--box-shadow-3);
  border-radius: var(--default-border-radius);
  background-color: var(--color-texture-primary);
  display: flex;
  align-items: center;
  .mbx__header {
    padding: 1rem;
  }
  .mbx__body {
    padding: 1rem 1rem 1rem 0;
    h3 {
      font-size: 1rem;
    }
    .mbx__main-content {
        font-size: .85rem;
    }
  }
}
