#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .login__page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 27rem;
    background-color: var(--color-texture-secondary);
    border-radius: var(--default-border-radius);
    box-shadow: var(--box-shadow-1);
    padding: 3rem 1rem;
    & > * {
      width: 80%;
    }
    .login__page-head {
        p {
          text-align: center;
          font-size: .95rem;
          color: var(--color-text-third);
        }
    }
    .login__form-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }
  }
}
