@import url("./modules/colors.module.css");
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --default-border-radius: .5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-texture-primary: var(--color-white);
    --color-texture-secondary: var(--color-white-hover);
    --color-texture-third: var(--color-white-broke);
    --color-text-primary: var(--color-black);
    --color-text-secondary: var(--color-black-hover);
    --color-text-third: var(--color-black-broke);
    color: var(--color-text-primary);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-texture-primary: var(--color-black);
    --color-texture-secondary: var(--color-black-hover);
    --color-texture-third: var(--color-black-broke);
    --color-text-primary: var(--color-white);
    --color-text-secondary: var(--color-white-hover);
    --color-text-third: var(--color-white-broke);

    color: var(--color-text-primary);
  }

}

html {
  font-size: 15px;
  background-color: var(--color-texture-primary);
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 600;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 90vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--default-border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: var(--color-white);
  color: var(--color-black);
  cursor: pointer;
  transition: border-color 0.25s;
  border: var(--input-border-width) solid var(--color-texture-third);
}

button.main {
  border: var(--input-border-width) solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
}

button:hover {
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
