#auth-layout {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;

  .auth-layout__left,
  .auth-layout__right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }

  .auth-layout__left {
  }

  .auth-layout__right {
    background-color: var(--color-texture-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    div {
      width: 90%;
    }
  }
}
